body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../about_us_images/furniture.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    /* background-color:red; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.team-list{
    width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    /* background-color: red; */
}

.team-member{
    width: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    margin-left: 60px;
    flex-direction: column;
}

.team-member-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.name{
    color: yellow;
    font-family: 'lexend', 'roboto', sans-serif;
    font-size: 20px;
    text-align: center;

}
.desc{
    color: silver;
    font-family: 'roboto', sans-serif;
    text-align: center;
}





/* .team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    
}

header{
    background-image: url('index_images/furniture.jpg');
    background-color: black;
    background-blend-mode: luminosity;
    width: 100vw;
    height: 100vh;
    filter: invert(10%);
    background-size: cover;
    background-position: center;
}

.team-container h1 {
    position:relative;
    margin-top: 40px;
    text-align:center;
    color:aqua;
}
.team-member {
    background-color: #fff;
    /* background-color: transparent; */
    /* border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 150px;
    padding-top: 50px;
    text-align: center;
    width: 200px;
}
.team-member img {
    border-radius: 75%;
    height: 225px;
    width: 205px;
}
.team-member h2 {
    margin-top: 10px;
    color: #e1d084;
}
.team-member p {
    color: white;
}
.head{
   color:aqua;
   border-radius: 50%;
   background-color:black;
   margin-right:10%;
   margin-bottom:10%;
   height:200px;
   width:200px;


}
.head h1{
    text-align: center;
    padding-top:50px;
}
.color1{
    background-color: transparent;
} */ */
/* .color2{
    background-color:#333;
    border-radius:10px;
}
.color3{
    background-color:greenyellow;
}
.color4{
    background-color:rgb(17, 156, 110);
}
.color5{
    background-color:rgb(154, 66, 248);
} */