body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../about_us_images/furniture.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: fixed;
    /* background-color:red; */
}
.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    
}

header{
    background-image: url('index_images/furniture.jpg');
    background-color: black;
    background-blend-mode: luminosity;
    width: 100vw;
    height: 100vh;
    filter: invert(10%);
    background-size: cover;
    background-position: center;
}

.team-container h1 {
    margin: top 40px;
    position:absolute;
    text-align:center;
    color:aqua;
}
.team-member {
    /* background-color: #fff; */
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 05px;
    padding: 05px;
    text-align: center;
    width: 200px;
}
.team-member img {
    border-radius: 75%;
    height: 225px;
    width: 205px;
}
.team-member h2 {
    margin-top: 10px;
    color: #e1d084;
}
.team-member p {
    color: white;
}
.head{
   color:aqua;
   border-radius: 50%;
   background-color:black;
   margin-right:10%;
   margin-bottom:10%;
   height:200px;
   width:200px;


}
.head h1{
    text-align: center;
    padding-top:50px;
}
.color1{
    background-color: transparent;
}
/* .color2{
    background-color:#333;
    border-radius:10px;
}
.color3{
    background-color:greenyellow;
}
.color4{
    background-color:rgb(17, 156, 110);
}
.color5{
    background-color:rgb(154, 66, 248);
} */